@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
 * Colors
 */
html.dark {
    color: #fff;
    background-color: #333;
}
/* 
 * Typography
 */
body[dir="rtl"] {
    direction: rtl;
    text-align: right;
}

body[dir="ltr"] {
    direction: ltr;
    text-align: left;
}
